*, *::after, *::before {
  margin: 0;
  box-sizing: border-box;
  --appColor: hsl(200, 50%, 50%);
  --appColorLight: hsl(200, 50%, 85%);
  --appColorDark: hsl(200, 50%, 25%);
}

.App {
  text-align: center;
}

.title {
  font-family: 'Trebuchet MS';
  font-size: 2rem;
  color: var(--appColor);
  padding: 1rem;
}
.controls {
  border-top: 1px solid var(--appColor);
  padding: 1rem;
}
.controls > input {
  border: 0;
  border-radius: .5rem;
  padding: .5rem;
  margin: .25rem;
  color: var(--appColorDark);
  background-color: var(--appColorLight);
}

.controls > button {
  cursor: pointer;
  text-transform: uppercase;
  border: 0;
  border-radius: .5rem;
  padding: .5rem;
  margin: .25rem;
  color: var(--appColorLight);
  background-color: var(--appColor);
  transition: all .5s ease-in-out;
}

.controls > button:hover,
.controls > button:focus {
  background-color: var(--appColorDark);
  color: var(--appColor);
}

.todosList {
  border-top: 1px solid var(--appColor);
  padding: 1rem;
}
.todoLabel {
  font-family: 'Trebuchet MS';
  color: var(--appColor);
  padding-left: .5rem;
}

